In [7]:
import atoti as tt

In [8]:
session = tt.Session(                            #Creare atoti session
    user_content_storage=".content",
    port=9095,
    java_options=["-Xms1G", "-Xmx10G"]
)

Closing existing "Unnamed" session to create the new one.

In [12]:
db_name = "Project1"
db_user = "postgres"
db_password = "postgres"  
db_host = "localhost"  
db_port = "5432"

In [13]:
jdbc_url = f"jdbc:postgresql://{db_host}:{db_port}/{db_name}?user={db_user}&password={db_password}" #Create URL

In [14]:
jdbc_url

'jdbc:postgresql://localhost:5432/Project1?user=postgres&password=postgres'

In [15]:
fact_olympic = session.read_sql(       #Get main fact table
    "SELECT * FROM factolympic",
    keys=["year","country"],
    table_name="Olympic",
    url=jdbc_url,
)

In [16]:
dimcountries = session.read_sql(     #Get countries facttable
    "SELECT * FROM dimcountries",
    keys=["country"],
    table_name="Countries",
    url=jdbc_url)

In [17]:
dimlife = session.read_sql( #Get life expectancy dimension table
    "SELECT * FROM dimlife",
    keys=["year","country"],
    table_name="Life",
    url=jdbc_url)

In [ ]:
dimtime = session.read_sql(  #Get time dimension table
    "SELECT * FROM dimtime",
    keys=["year"],
    table_name="Time",
    url=jdbc_url)

In [ ]:
facttest.join(countries, facttest["country"] == countries["country"])

In [ ]:
facttest.join(dimlife, (facttest["year"] == dimlife["year"] )& (facttest["country"] == dimlife["country"]))

In [ ]:
facttest.join(time, facttest["year"] == time["year"])

In [ ]:
facttest.join(lifeexp, (facttest["year"] == lifeexp["year"] )& (facttest["country"] == lifeexp["country"]))

In [ ]:
session.tables.schema

In [ ]:
testcube = session.create_cube(facttest)

In [ ]:
testcube

In [ ]:
hierarchies, levels, measures = testcube.hierarchies, testcube.levels, testcube.measures

In [ ]:
measures

In [ ]:
list(levels)

In [ ]:
hierarchies["Time","time"] = [time["decade"],time["year"],time["season"]]

In [ ]:
del hierarchies["Life","gdpcap"]

In [ ]:
list(testcube.hierarchies)

In [ ]:
testcube.query(measures["total.SUM"], levels=[levels[('Countries', 'continent', 'country')],levels["Details","details","lifeexpectancy"]])