In [1]:
import atoti as tt

Welcome to Atoti 0.8.10!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

In [2]:
session = tt.Session(
    user_content_storage=".content",
    port=9092,
    java_options=["-Xms1G", "-Xmx10G"]
)

In [4]:
db_name = "Project1"
db_user = "postgres"
db_password = "postgres"  
db_host = "localhost"  
db_port = "5432"

In [5]:
jdbc_url = f"jdbc:postgresql://{db_host}:{db_port}/{db_name}?user={db_user}&password={db_password}"

In [6]:
jdbc_url

'jdbc:postgresql://localhost:5432/Project1?user=postgres&password=postgres'

In [7]:
facttest = session.read_sql(
    "SELECT * FROM facttest",
    keys=["id"],
    table_name="factTable",
    url=jdbc_url,
)

In [12]:
facttest.head()

,year,medal,country,code,depression,schizophrenia,bipolar,eatingdisorder,anxiety,continent
id,,,,,,,,,,
1601,2018,GOLD,Norway,NOR,560.3382,180.55357,178.1118,100.93096,644.2381,Europe
1709,2018,BRONZE,Norway,NOR,560.3382,180.55357,178.1118,100.93096,644.2381,Europe
1829,2018,GOLD,Norway,NOR,560.3382,180.55357,178.1118,100.93096,644.2381,Europe
1838,2018,GOLD,Norway,NOR,560.3382,180.55357,178.1118,100.93096,644.2381,Europe
1855,2018,BRONZE,Norway,NOR,560.3382,180.55357,178.1118,100.93096,644.2381,Europe

In [9]:
medals = session.read_sql(
    "SELECT * FROM medalsnew",
    keys=["id"],
    table_name="Medals",
    url=jdbc_url)

In [10]:
countries = session.read_sql(
    "SELECT * FROM countries",
    keys=["country"],
    table_name="Countries",
    url=jdbc_url)

In [11]:
illness = session.read_sql(
    "SELECT * FROM mentalillness",
    keys=["code","year"],
    table_name="Illness",
    url=jdbc_url)

In [14]:
facttest.join(countries, facttest["country"] == countries["country"])

In [15]:
facttest.join(medals, facttest["id"] == medals["id"])

In [19]:
facttest.join(illness, (facttest["code"] == illness["code"]) & (facttest["year"] == illness["year"]))

In [20]:
session.tables.schema

erDiagram
  "Countries" {
    _ String PK "country"
    _ String "continent"
  }
  "Illness" {
    _ String "country"
    _ String PK "code"
    _ int PK "year"
    nullable double "depression"
    nullable double "schizophrenia"
    nullable double "bipolar"
    nullable double "eatingdisorder"
    nullable double "anxiety"
  }
  "factTable" {
    nullable int "year"
    _ String "medal"
    _ String "country"
    _ String "code"
    _ int PK "id"
    nullable double "depression"
    nullable double "schizophrenia"
    nullable double "bipolar"
    nullable double "eatingdisorder"
    nullable double "anxiety"
    _ String "continent"
  }
  "Medals" {
    nullable int "year"
    _ String "medal"
    _ String "country"
    _ String "code"
    _ int PK "id"
  }
  "factTable" }o--o| "Medals" : "`id` == `id`"
  "factTable" }o--o| "Illness" : "(`year` == `year`) & (`code` == `code`)"
  "factTable" }o--o| "Countries" : "`country` == `country`"

In [21]:
testcube = session.create_cube(facttest)

In [22]:
testcube